.btn {
    background-color: #222;
    color: #fff;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    width: -webkit-fill-available;
}

.color_delete{
    background-color: #f00;
}

.color_black{
    background-color: #222;
}

.btn::hover{
    color: #ffbb33;
}

.btn_save_update{
    width: fit-content;
}

button:disabled, button[disabled]{
  background-color: #22222257;
  color: #ffffff;
}