.container {
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 91vw;
    height: 77vh;
}

.title_container{
    display: flex;
    justify-content: space-between;
    
}