.panel_header {
    width: 95%;
    margin: auto;
    padding-bottom: 2em;
}

.padding {
    padding-top: 1.3%;
    padding-bottom: 1.3%;
    padding-left: 2%;
    padding-right: 2%;
}

.panel_boby {
    padding: initial;
    padding-left: 1em;
    padding-top: 0.4em;
  }